
{% extends "theme_details.html" %}
{% block content %}
     <h2>ABOUT THE BCCI</h3>  
     <h4>History </h4>
          <p>At the outset, there is nothing significant about the year 1721, as far as India's political history is concerned. Aurangzeb, the sixth of the great Mughals, had passed away in 1707, and the Empire he and his forefathers had built, had started to disintegrate. The Marathas were gaining in prominence, and in the process of knocking hard on the doors of Delhi. These were prominent happenings; what was peripheral was that 'merchants' from England and France had established 'settlements' in select areas of the subcontinent, and were going about their business of trade.</p>
          <p>It was sometime in 1721 that a British ship dropped anchor off the coast of Kutch in western India. The recreational activities the sailors indulged in on the coast elicited curious reactions from onlookers. One of the sailors, who answered to the name of Downing, recalled his time on the Kutch coast in his memoirs thus: "We everyday diverted ourselves with playing cricket and other exercises"
             This is the earliest recorded reference to cricket in India.</p>
      
           
              
{% endblock %}

